name: &name clamav-rest
environment: &environment staging
namespace: &namespace open-vsx-org
host: clamav-rest-staging.open-vsx.org

replicaCount: 1

image:
  repository: ghcr.io/eclipsefdn/clamav-rest
  tag: latest
  pullPolicy: IfNotPresent

# following https://docs.clamav.net/manual/Installing/Docker.html guidelines
resources:
  requests:
    cpu: 500m
    memory: 3Gi
  limits:
    cpu: 1
    memory: 4Gi

# clamav parameters
# MAX_FILE_SIZE	Do not scan files larger than this size. Reflects the vsix file upload limit
# MAX_SCAN_SIZE	Total data scanned per file. Reflects the vsix file upload limit
# MAX_RECURSION	Maximum nested archive depth. Important because VSCode extensions may contain nested archives.
# SIGNATURE_CHECKS	How many times per day to refresh malware signature DB.	Ensures signature database remains up to date.
clamavEnv:
  MAX_FILE_SIZE: "512M"
  MAX_SCAN_SIZE: "512M"
  MAX_RECURSION: "16"
  SIGNATURE_CHECKS: "2"

route:
  timeout: 30s

service:
  type: ClusterIP
  port: 9000
  targetPort: 9000
  port_tls: 9000
  targetPort: 9000

nodeSelector: {}
tolerations: []
affinity: {}

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: clamav-rest.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
    # - hosts:
    #     - clamav-rest.local
    #   secretName: clamav-rest-tls
